.message-send-box-wrapper {
  box-sizing: border-box;
  overflow: hidden;
  padding: 3px 20px 10px 20px;
}
.message-send-box-wrapper .header-bar .icon {
  cursor: pointer;
  font-size: 30px;
  color: #808080;
  margin: 0 12px 0 0;
}
.message-send-box-wrapper .header-bar .icon img {
  width: 30px;
}
.message-send-box-wrapper .bottom-content .send-container {
  text-align: right;
}
.message-send-box-wrapper .bottom-content .send-container .send-box {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url(../../assets/image/send.png);
  background-position: center;
  background-size: 100% auto;
}
